p {
	text-indent: 1.5em;
}

.dbl {
	margin-bottom: 10px;
	display: block;
}

.quote {
	font-size: 18px;
}

.tab-content img {
	float: right;
}

  <style type="text/css">

/* Large desktop */
@media (min-width: 980px) { 
body {
    padding-top: 30px;
}
.linediv-l {
    border-right: 1px white solid;
}
.linediv-r {
    border-left: 1px white solid;
}
}

/* Landscape phones and down */
@media (max-width: 480px) { 
.copy {
    padding: 2.5% 10%;
}
.linediv-l {
    border-bottom: 1px white solid;
}
.linediv-r {
    border-top: 1px white solid;
}
}
#header {
    padding-top: 5%;
}
/* All form factors */

/* Main body and headings */
body{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.heading, .subheading {
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    text-align: center;
}
p.lead {
    padding-top: 1.5%;
    font-size: 24px;
    line-height: 30px;
}
p {
    font-size: 18px;
    line-height: 24px;
}

/* Nav */
.sub_menu {
	color: white;
}

/* Video pitch and Action */
.pitch {
    padding: 2.5% 0%;
}
.order {
    padding: 2% 0%;
}
.actions {
    background-color: #343434;
    padding: 3% 0%;
}
.video, .thermometer, .order, .social, .statistics {
    text-align: center;
}
.statistics h3, .statistics p {
    color: white;
}

/* Marketing Copy and Footer */
.copy {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: justify;
}
.asset {
    padding: 2.5% 0%;
}
.footer {
    color: #cccccc;
    text-align: center;
}
.footer p {
    font-size: 11px;
}
.footer a {
    color: #ccccff;
}

/* Resources */
    #tab-header {
    list-style: none;
}

/* Budget */
input[type="text"] {
	width: 210px;
	border-radius: 3px;
	border: 1px solid #999;
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);	
}

input[type="submit"] {
	border-radius: 5px;
	padding: 3px 5px;
	background-color: hsl(145, 62%, 68%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdf3dd", endColorstr="#7adfa4");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#cdf3dd), to(#7adfa4));
	background-image: -moz-linear-gradient(top, #cdf3dd, #7adfa4);
	background-image: -ms-linear-gradient(top, #cdf3dd, #7adfa4);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf3dd), color-stop(100%, #7adfa4));
	background-image: -webkit-linear-gradient(top, #cdf3dd, #7adfa4);
	background-image: -o-linear-gradient(top, #cdf3dd, #7adfa4);
	background-image: linear-gradient(#cdf3dd, #7adfa4);
	border-color: #7adfa4 #7adfa4 hsl(145, 62%, 63%);
	color: #333 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
	-webkit-font-smoothing: antialiased;
}

#clear_all {
	position: relative;	
	left: 100px;
	padding: 3px 5px;
	border-radius: 5px;
	background-color: hsl(0, 85%, 27%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e71212", endColorstr="#7f0a0a");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#e71212), to(#7f0a0a));
	background-image: -moz-linear-gradient(top, #e71212, #7f0a0a);
	background-image: -ms-linear-gradient(top, #e71212, #7f0a0a);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e71212), color-stop(100%, #7f0a0a));
	background-image: -webkit-linear-gradient(top, #e71212, #7f0a0a);
	background-image: -o-linear-gradient(top, #e71212, #7f0a0a);
	background-image: linear-gradient(#e71212, #7f0a0a);
	border-color: #7f0a0a #7f0a0a hsl(0, 85%, 21.5%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
	-webkit-font-smoothing: antialiased;
}

#myBudget_input {
	float: left;
	width: 46%;
}

#pieChart {
	float: left;
	width: 50%;
	padding-left: 4%;
}

#chartData {
	top: 46px;
	left: 20%;
	border: 1px solid #333;
    border-collapse: collapse;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

#chartData th, #chartData td {
  padding: 0.5em;
  border: 1px dotted #666;
  text-align: left;
}

#chartData th {
  border-bottom: 2px solid #333;
  text-transform: uppercase;
}


#chartData td {
  cursor: pointer;
}

#chartData td.highlight {
  background: #e8e8e8;
}

#chartData tr:hover td {
  background: #f0f0f0;
}
